extends layout
block body

  div.container
    header
      h1 Chattack
    div#list-of-users
    div#chat
      input(type='text', placeholder='username')#usernameInput
      input(type='text', placeholder="gimme all your bacon")#messageInput
      div#chatEntries
    svg(height='400', width='800',id='bg')


  script(src="/socket.io/socket.io.js")
  script(src="/scripts/Chat.js")
  script(src="/scripts/main.js")
  script(src="/scripts/streamgraph.js")
