doctype html
html
    head
        title Chat
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(src="script.js")
        script(src="d3.min.js")
        link(type='text/css', rel='stylesheet', href='style.css')
    body
        div.container
            header
                h1 Node.js and Socket.io Chat Test
            div#court1.court
                h4 Court 1
                svg(height='600', width='100')
            div#chat
                input(type='text')#usernameInput
                button#usernameSet Set Username
                div#chatEntries
                div#chatControls
                    input(type='text')#messageInput
                    button#submit Send
            div#court2.court
                h4 Court 2
                svg(height='600', width='100')
