/*CHAT*/
#chat {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 200px;
  vertical-align: top;
  background-color: gray;
  color: white;
  opacity: .9;
  display: inline-block;
}

