body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color:  limegreen
}

line {
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linecap: round;
}

#bg {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 0;
}

/*CHAT*/
#chat {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  display: inline-block;
  vertical-align: top;
  background-color: gray;
  color: white;
  opacity: .9;
  display: inline-block;
}

input {
  width: 100%;
  padding: 10px
}

#chatEntries {
  border-top: solid white 1px;
}

#list-of-users {
  float: left;
  padding: 10px;

}

.user {
  list-style: none;
}

.notices {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 14px;
}
